:root {
	font: 16px / 1 sans-serif;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
}

header {
	background-color: #247ba0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header nav {
	background-color: #ffe066;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

header ul {
	margin: 0;
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
	list-style: none;
	padding-left: 0;
	padding: 5px;
}

header li {
	display: inline;
	font-weight: bold;
	margin-left: 5px;
}

header li a {
	color: #247ba0;
	text-decoration: none;
}

h2 {
	text-align: center;
}

.hero {
	flex: 1;
	background-color: pink;
	background-image: url('/public/images/beach-drive.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero h1 {
	background: linear-gradient(rgba(255, 224, 102, 0.5), rgba(242, 92, 90, 0.5));
	color: #247ba0;
	padding: 2rem;
	width: 100%;
}

.card {
	border: thin solid #666;
	margin: 16px;
	box-shadow: 2px 2px 5px #666;
	border-radius: 8px;
	overflow: hidden;
}

.card img {
	width: 100%;
}

.card h3 {
	color: blue;
	border-bottom: thin solid #666;
	margin-top: 0;
	margin-bottom: 10px;
}

.card .content {
	padding: 10px;
}

.card .content p {
	margin-top: 10px;
	margin-bottom: 0;
}

#top-destinations {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

#personality {
	background-image: linear-gradient(
			rgba(36, 123, 160, 0.5),
			rgba(242, 92, 90, 0.5)
		),
		url('https://sdg-tourism.netlify.com/images/city.jpg');
	background-size: cover;
	color: #ffe066;
	padding: 20px;
}

#personality p {
	text-align: center;
	margin: 10px;
	font-weight: 600;
}

@media (min-width: 720px) {
	.card {
		display: flex;
		align-items: center;
	}

	.card img {
		flex: 1;
		max-width: 300px;
	}

	.card .hero {
		flex: 2;
	}
}
